.dataTable .col {
    cursor: pointer;
    background-color: rgb(0, 139, 139);
    color: white;
}

.dataTable .col .pointer:after {
    font-size: 80%;
    content: "";
    margin-right: 18px;
}

.dataTable .col .pointer:hover:after {
    font-size: 80%;
    content: "🔻";
    margin-right: 0;
}